.shareContainer {
    widows: 100%;
    height: 170px;
    border-radius: 10px;
    background-color: #36393F;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.shareWrapper {
    padding: 10px;
}

.shareTop {
    display: flex;
    align-items: center;
}

.shareBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shareProfileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.shareInput {
    border: none;
    width: 80%;
    background-color: #36393F;
}

.shareInput:focus {
    outline: none;
}

.shareHr {
    margin: 20px;
}

.shareOptions {
    display: flex;
    margin-left: 20px;
}

.shareOption {
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}

.shareOptionText {
    font-size: 14px;
    font-weight: 500;
    margin-left: 3px;
    color: #DCDDDE;
}

.shareIcon {
    font-size: 18px;
    /*     color: #DCDDDE; */
}

.shareButton {
    border: none;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
    background-color: green;
    font-weight: 500;
    margin-right: 20px;
    color: #DCDDDE;
}

.modalContainer {
    height: 350px;
    width: 750px;
    background-color: #242526;
    border-radius: 13px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.bodyShareModal {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.modalshareInput {
    margin-top: 15px;
    border: none;
    width: 80%;
    background-color: #242526;
    color: #DCDDDE;
    font-size: 1.5em;
}

.headerShareModal {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* .headerShareModal:first-child {
    align-self: center;
} */

.headerShareModalSpan {
    font-size: 20px;
    font-weight: 700;
    color: #DCDDDE;
}

.customHrHeaderModal {
    border: 1px solid #4E4F50;
}

.modalNameImg { 
    display: flex;
    align-items: center;
}

.modalshareInput::placeholder {
    color: #8A8D91;
}

.modalshareInput:focus {
    outline: none;
}

.modalNameImgSpan {
    font-size: 18px;
    font-weight: 500;
    color: #DCDDDE;
}

.bottomShareModal {
    margin-top: 160px;
}

.closeModalButton {
    border: none;
    background-color: #4E4F4F;
    height: 35px;
    width: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.closeModalIcon {
    color: #B1B3B9;
    font-size: 25px;
    font-weight: 300;
}