.loginContainer {
    background-color: #18191A;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginLeft, .loginRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginlogo {
    font-size: 50px;
    font-weight: 800;
    color: #1775ee;
    margin-bottom: 10px;
}

.loginDesc {
    font-size: 24px;
}

.loginBox {
    height: 300px;
    padding: 20px;
    background-color: #36393F;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.loginWrapper {
    width: 70%;
    height: 70%;
    display: flex;
    /* background-color: #36393F; */
}

.loginRight .loginLeft {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .loginLeft {

} */

.loginInput {
    height: 50px;
    border-radius: 10px;
    border: 1px solid white;
    font-size: 18px;
    padding-left: 20px;
    margin: 5px 0;
}

.loginInput:focus {
    outline: none;
}

.loginButton {
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #1775ee;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 12.5px;
    margin-bottom: 5px;
}

.loginForgot {
    text-align: center;
    color: #1775ee;
    cursor: pointer
}

.loginRegisterButton {
    width: 60%;
    height: 50px;
    align-self: center;
    border-radius: 10px;
    border: none;
    background-color: #36A420;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
}