.messengerContainer {
    height: calc(100vh - 50px);
    display: flex;
    background-color: red;
}

.chatMenu {
    flex: 3.5;
    background-color: #18191A;
}

.conversationSearchbar {
    width: 90%;
    padding: 10px 0;
    background-color: #FAFAFA;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.chatMenuInput:focus {
    outline: none;
}

.chatBox {
    flex: 4.5;
    background-color: #18191A;
    border: 2px solid #2A2C31;
}

.chatBoxTop {
    height: calc(100vh - 50px);
    overflow-y: scroll;
}

.chatOnline {
    flex: 3;
    background-color: #18191A;
}

.chatOnlineWraper, .chatBoxWraper, .chatMenuWraper {
    padding: 10px;
}

.chatBoxBottom {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0
}

.chatMessageInput {
    width: 80%;
    height: 90px;
    padding: 10px;
}

.chatSubmitButton {
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: teal;
    color: white;
}

.messageBottom {
    color: #FAFAFA;
}